h2 {
  color: #3F72AF;
  font-family: sans-serif;
  font-size:80%;
}

h1 {
  font-family: sans-serif;
  color: #112D4E;
  font-size:100%;
}

body {
  margin-left: 40px;
  background-color: #F9F7F7;
  font-family: sans-serif;
  font-size:50%;
}

p {
  color: #112D4E
  font-family: sans-serif;
  font-size:50%;
  
}

ul {
  color: #112D4E
  font-family: sans-serif;
  font-size:50%;
}

ol {
  color: #112D4E
  font-family: sans-serif;
  font-size:50%;
}

table {
  color: #112D4E
  font-family: sans-serif;
  font-size:80%;
}

hr {

  width: 50%;
  border-top: 5px solid #DBE2EF ;

}

.year {
  text-align: center;
  width: 600px;
  font-size:80%;
}
